<a href="https://colab.research.google.com/github/Aliak111448/ali/blob/main/dataanalyze_ipynb2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
a=[["ali","mohammad","reza"]]
df=pd.DataFrame(a)
print(df)

     0         1     2
0  ali  mohammad  reza

In [6]:
a=([23,44,56,70,78,43])
df=pd.Series(a)
print(df)

0    23
1    44
2    56
3    70
4    78
5    43
dtype: int64